<launch>


  <arg name="record_cameras" default="true" />
  
  
  <node name="vision_node" pkg="vision" type="vision_node" args="$(find vision)/../../../video/nbrf_video/comp/comp_buoy/20100714084551.avi">
    <param name="video_log_dir" value="$(env HOME)/video/" />
  </node>
  
       
  <node pkg="rosbag" type="rosbag" name="rosbag_record_cam"
        args="record -o $(env HOME)/video/ qubo/camera/image"
        if="$(arg record_cameras)" />

</launch>
