<!-- this will launch all the things -->

<launch>

  <group>
  <!-- best way I could find so that we actually pass this argument, still don't love it though -->

  <arg name="video" default="0" /> 
  <arg name="record_cameras" default="true" />

  <node name="ahrs_node" pkg="vl_qubo" type="ahrs_node" />
  
  <node name="vision_node" pkg="vision" type="vision_node" args="$(arg video)" >
    <param name="output_dir" value="$(env HOME)/video/" />
  </node>

  <node name="arduino_node" pkg="vl_qubo" type="arduino_node.py" />
  
  <!-- node name="autonomy_node" pkg="autonomy" type="autonomy_node.py" / -->
  <!-- spawn the depth and yaw controllers -->
  <node name="qubo_depth_controller" pkg="controls" type="pid_controller" args="depth 100" >
    <param name="kp" value="1.0" />
    <param name="ki" value="0.0" />
    <param name="kd" value="0.0" />
    <param name="upper_limit" value="10.0" />
    <param name="lower_limit" value="-10.0" />
    <param name="windup_limit" value="5.0" />
    <param name="buffer_size" value ="10" />
  </node>
  
  <node name="qubo_surge_controller" pkg="controls" type="pid_controller" args="surge 100" >
    <param name="kp" value="1.0" />
    <param name="ki" value="0.0" />
    <param name="kd" value="0.0" />
    <param name="upper_limit" value="10.0" />
    <param name="lower_limit" value="-10.0" />
    <param name="windup_limit" value="10.0" />
  </node>
  
  <node name="qubo_sway_controller" pkg="controls" type="pid_controller" args="sway 100" >
    <param name="kp" value="0.0" />
    <param name="ki" value="0.0" />
    <param name="kd" value="0.0" />
    <param name="upper_limit" value="10.0" />
    <param name="lower_limit" value="-10.0" />
    <param name="windup_limit" value="10.0" />
  </node>
  
  <node name="qubo_roll_controller" pkg="controls" type="pid_controller" args="roll 100" >
    <param name="kp" value="0.0" />
    <param name="ki" value="0.0" />
    <param name="kd" value="0.0" />
    <param name="upper_limit" value="10.0" />
    <param name="lower_limit" value="-10.0" />
    <param name="windup_limit" value="10.0" />
    <param name="unwind_angle" value="true"/>
  </node>
  
  <node name="qubo_pitch_controller" pkg="controls" type="pid_controller" args="pitch 100" >
    <param name="kp" value="0.0" />
    <param name="ki" value="0.0" />
    <param name="kd" value="0.0" />
    <param name="upper_limit" value="10.0.0" />
    <param name="lower_limit" value="-10.0.0" />
    <param name="windup_limit" value="10.0.0" />
    <param name="unwind_angle" value="true" />
  </node>
  
  <node name="qubo_yaw_controller" pkg="controls" type="pid_controller" args="yaw 100" >
    <param name="kp" value="0.0" />
    <param name="ki" value="0.0" />
    <param name="kd" value="0.0" />
    <param name="upper_limit" value="10.0" />
    <param name="lower_limit" value="-10.0" />
    <param name="windup_limit" value="10.0" />
    <param name="unwind_angle" value="true" />
  </node>

<node name="reconfigure_node" pkg="rqt_reconfigure" type="rqt_reconfigure" />

<node name="plot_node" pkg="rqt_plot" type="rqt_plot" />

  </group>
</launch>

