<!-- Launches Gazebo with a basic Qubo robot spawned in the empty underwater world. -->
<launch>
    <!-- Launch Gazebo with the empty underwater world -->
    <include file="$(find qubo_launch)/gazebo/empty_underwater_world.launch" />

    <!-- Spawn basic Qubo robot into the world -->
    <include file="$(find qubo_launch)/gazebo/spawn_basic_qubo.launch">
        <arg name="namespace" value="qubo_test"/>
    </include>
</launch>
