<!-- Launches Gazebo with a basic Qubo robot spawned in the empty underwater world also spawns a thruster tranlator node. -->
<launch>
    <!-- Launch Gazebo with the empty underwater world -->
    <include file="empty_underwater_world.launch" />
    
    <!-- Spawn basic Qubo robot into the world -->
    <include file="spawn_basic_qubo.launch">
        <arg name="namespace" value="qubo_test"/>
    </include>

    <!-- spawn the thruster translator -->
    <node name="qubo_thruster_node" pkg="vl_qubo" type="qubo_gazebo_hardware_node" />

    <!-- spawn the depth and yaw controllers -->
    <node name="qubo_controller" pkg="controls" type="pid_controller" />

    <!-- spawn thing that let's us reconfigure parameters -->
    <node name="reconfigure_node" pkg="rqt_reconfigure" type="rqt_reconfigure" />

    <node name="plot_node" pkg="rqt_plot" type="rqt_plot" />
</launch>
