<launch>
  <!--these actually launch the whole vehicle layer,this is the pure qubo version -->
  <node name="camera_node" pkg="qubo_vehicle_layer" type="camera_node" args="qubo" /> 
  <node name="depth_node" pkg="qubo_vehicle_layer" type="depth_node" args="qubo"/>
  <node name="dvl_node" pkg="qubo_vehicle_layer" type="dvl_node" args="qubo" /> 
  <node name="imu_node" pkg="qubo_vehicle_layer" type="imu_node" args="qubo"/>
  <node name="led_node" pkg="qubo_vehicle_layer" type="led_node" args="qubo" /> 
  <node name="power_node" pkg="qubo_vehicle_layer" type="power_node" args="qubo"/>
  <node name="temp_node" pkg="qubo_vehicle_layer" type="thruster_node" args="qubo"/>
  <node name="thruster_node" pkg="qubo_vehicle_layer" type="thruster_node" args="qubo"/>

</launch>
