<launch>
  <!--these actually launch the whole vehicle layer, change args from "simulated" to whatever else to change what type of node it is -->
  <node name="camera_node" pkg="qubo_vehicle_layer" type="camera_node" args="simulated" /> 
  <node name="depth_node" pkg="qubo_vehicle_layer" type="depth_node" args="simulated"/>
  <node name="dvl_node" pkg="qubo_vehicle_layer" type="dvl_node" args="simulated" /> 
  <node name="imu_node" pkg="qubo_vehicle_layer" type="imu_node" args="simulated"/>
  <node name="led_node" pkg="qubo_vehicle_layer" type="led_node" args="simulated" /> 
  <node name="power_node" pkg="qubo_vehicle_layer" type="power_node" args="simulated"/>
  <node name="temp_node" pkg="qubo_vehicle_layer" type="thruster_node" args="simulated"/>
  <node name="thruster_node" pkg="qubo_vehicle_layer" type="thruster_node" args="simulated"/>
</launch>
