<launch>
<!-- Not sure if ROS (the person) is done with dvl yet --> 
<env name="ROSCONSOLE_CONFIG_FILE" value="$(find vl_qubo)/rosconsole.conf"/>

<node name="dvl_node" pkg="vl_qubo" type="qubo_ahrs_node" output="screen" args="/dev/ttyUSB3"/>
</launch>
<!--change "log" to "screen" to move debug to stdout.-->
