<launch>
<!-- This launch script was made for June 6th 2016 dive test --> 
<node name="dvl_node" pkg="vl_tortuga" type="tortuga_dvl_node" args="tortuga" />
<node name="imu_node" pkg="vl_tortuga" type="tortuga_imu_node" args="tortuga" />
<node name="sensor_board" pkg="vl_tortuga" type="sensor_board_node" args="tortgua" output="screen" />
</launch>
<!--change "log" to "screen" to move debug to stdout.-->
