<!-- Launch script for teleoperating the robot. Run this script on the machine that has the joystick
     directly connected to it via USB. -->

<launch>
    <!-- Tell joy_node which joystick device to use -->
    <param name="joy_node/dev" value="/dev/input/js1" />

    <!-- Start joy_node which reads raw input from joystick and publishes to /joy_input -->
    <node name="joy_node" pkg="joy" type="joy_node">
        <remap from="joy" to="joy_input" />
    </node>

    <!-- Uncomment the line below to record raw input from the joystick -->
    <!-- <node name="record_joystick" pkg="rosbag" type="record" args="-O joy_in.bag /joy_input" /> -->
</launch>

